#representative-wrap-wrap {
	position:relative;
}

#representative-wrap {
	position:absolute;
	left:20px;
	top:-30px;
}

#paylater-customer-note {
	text-align: left;
	margin-left: 190px;
}

.paylater-unavailable {
	color: red;
}