#representative-wrap-wrap {
	position:relative;
}

#representative-wrap {
	position:absolute;
	left:20px;
	top:-30px;
}

#paylater-customer-note {
	text-align: justify;
	margin-left: 190px;
	width:215px;
}

#paylater-text-info {
	font-weight: bolder;
}

.paylater-review-row td{
	font-weight: bolder;
}

.paylater-unavailable {
	color: red;
}

.payler-review-td {
	border-left: 1px solid #D9DDE3;
}